#root {
  padding: 2rem;
  margin: 0 auto;
  
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.icon {
  filter: brightness(0) invert(1);
  width: 50px;
}

p {
  color: white;
  font-size: 1.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-texture-dark {
  background-color: #050505;
  background-image:
    linear-gradient(125deg, rgba(0,255,255,0.08) 0%, transparent 40%),
    linear-gradient(305deg, rgba(255,0,255,0.08) 0%, transparent 40%),
    linear-gradient(60deg, rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(120deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 100% 100%, 100% 100%, 60px 60px, 60px 60px;
  background-blend-mode: screen;
  background-attachment: fixed;
}




