@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&display=swap');

#root{
  background-color: black;
}


@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-Roboto:"Roboto Slab", serif;
  --font-Merriweather:"Merriweather", serif;
}
